<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body class="bg-gray-100 relative">
    {% include 'navbar.html' %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full md:max-w-md lg:max-w-lg xl:max-w-xl">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Create your own
                poll!
            </h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full md:max-w-md lg:max-w-lg xl:max-w-xl">
            <form class="space-y-6" action="submit_poll" method="POST">
                <div>
                    <label for="question" class="block text-sm font-medium leading-6 text-gray-900">Question</label>
                    <div class="mt-2">
                        <input id="question" name="question" type="question" autocomplete="question" required
                            class="block w-full rounded-md border-0 px-1 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div id="options" class="mt-6">
                    <label for="option[]" class="block text-sm font-medium leading-6 text-gray-900">Options</label>
                    <div id="options-container">
                        <div class="mt-2">
                            <input name="option[]" type="text" required
                                class="block w-full rounded-md border-0 px-1 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                        <div class="mt-2">
                            <input name="option[]" type="text" required
                                class="block w-full rounded-md border-0 px-1 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                </div>

                <div class="pb-6">
                    <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg  float-left"
                        onclick="addOption()">Add Option</button>

                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg float-right"
                        onclick="removeOption()">
                        Remove Option
                    </button>
                </div>

                <div>
                    <button type=" submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create
                        poll</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function addOption() {
            let optionsContainer = document.getElementById('options-container');
            let input = document.createElement('input');
            input.name = 'option[]';
            input.type = 'text';
            input.required = true;
            input.classList.add('mt-1', 'form-input', 'block', 'w-full', 'rounded-md', 'border-0', 'px-1', 'py-1.5', 'text-gray-900', 'shadow-sm', 'ring-1', 'ring-inset', 'ring-gray-300', 'placeholder:text-gray-400', 'focus:ring-2', 'focus:ring-inset', 'focus:ring-indigo-600', 'sm:text-sm', 'sm:leading-6');
            optionsContainer.appendChild(input);
        }
        
        function removeOption() {
            let optionsContainer = document.getElementById('options-container')
            if (optionsContainer.children.length > 2) {
                optionsContainer.removeChild(optionsContainer.lastElementChild);
            }
        }
    </script>
</body>

</html>